extends layout
block content
  .container
    form#calculator.row
      .input-field.col.s4
        input#expression(type='text' name='expression' pattern='^\\s*([-+]?)(\\d+)(?:\\s*\\s*([-+]?)(\\d+)\\s*([-+*\\/\\^]))+$')
        label(for='expression') Enter postfix expression here

    .row
        p#result.col.s2
    #numpad
      .row
        .col.s1
          button.btn.math 1
        .col.s1
          button.btn.math 2
        .col.s1
          button.btn.math 3
        .col.s1
          button.btn.math -
      .row
        .col.s1
          button.btn.math 4
        .col.s1
          button.btn.math 5
        .col.s1
          button.btn.math 6
        .col.s1
          button.btn.math +
      .row
        .col.s1
          button.btn.math 7
        .col.s1
          button.btn.math 8
        .col.s1
          button.btn.math 9
        .col.s1
          button.btn.math *
      .row
        .col.s1
          button#clear.btn C
        .col.s1
          button.btn.math 0
        .col.s1
          button#execute.btn(type='submit' form='calculator') =
        .col.s1
          button.btn.math /
      .row
        .col.s1
          button.btn.math= ' '
block scripts
  script(src='javascripts/calculator.min.js')