extends layout
block content
  .container
    form#calculator.row
      .input-field.col.s3
        input#expression(type='text' name='expression' pattern='^\\s*([-+]?)(\\d+)(?:\\s*\\s*([-+]?)(\\d+)\\s*([-+*\\/\\^]))+$')
        label(for='expression') Enter postfix expression here
      .col.s2
        p#result
    #numpad
      .row
        .col.s1
          button.btn 1
        .col.s1
          button.btn 2
        .col.s1
          button.btn 3
        .col.s1
          button.btn -
      .row
        .col.s1
          button.btn 4
        .col.s1
          button.btn 5
        .col.s1
          button.btn 6
        .col.s1
          button.btn +
      .row
        .col.s1
          button.btn 7
        .col.s1
          button.btn 8
        .col.s1
          button.btn 9
        .col.s1
          button.btn *
      .row
        .col.s1
          button#clear.btn C
        .col.s1
          button.btn 0
        .col.s1
          button#execute.btn(type='submit' form='calculator') =
        .col.s1
          button.btn /
block scripts
  script(src='javascripts/calculator.min.js')