extends layout
block stylesheets
  link(rel='stylesheet', href='/stylesheets/draw.css')
block content
  ul#menuBar
  canvas#pane(width='500', height='500')
block scripts
  script(src='javascripts/draw.min.js')