extends layout
block content
  canvas#background(width='600' height='400') Your browser does not support canvas. Please try again with a different browser.
  canvas#player(width='600' height='400')
  script(src='javascripts/tileSetMap.bundle.js')