extends layout
block content
  canvas#background(width='1024' height='640') Your browser does not support canvas. Please try again with a different browser.
  script(src='javascripts/tileSetMap.bundle.js')