extends layout
block content
  canvas#scene(width='480', height='640')
block scripts
  script(src='javascripts/webgl.min.js')
  script#shader-fs(type='x-shader/x-fragment').
    void main(void) {
        gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
    }
  script#shader-vs(type='x-shader/x-vertex').
    attribute vec3 aVertexPosition;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;


    void main(void) {
      gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    }