$menuHeight: 40px

*
  margin: 0
  padding: 0

#menuBar
  position: absolute
  top: 0
  left: 0
  width: 100%
  background-color: #00B7FF
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
  a
    width: 100%
    height: $menuHeight
    display: block
    text-decoration: none
    color: white
  a:hover
    color: black
    background-color: white
.submenu
  display: inline-block
  width: 110px
  text-align: center
  cursor: pointer
.submenu:hover
  .submenu-content
    display: block
.submenu-content
  width: 110px
  position: absolute
  display: none
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
  z-index: 1
ul
  list-style-type: none

.menuEntry
  height: $menuHeight
  cursor: pointer
  background-color: #00B7FF
  z-index: 3
#pane
  top: $menuHeight